
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 3% 3%; /*first is distance from nav bar second is distance from sides l & r*/
    height: 100%;
    overflow: auto;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}

/* contact form */

/* footer items*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;  
}

li {
    float: left;
    width: 28%;
    margin: 2.5%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: underline;
}

li a:hover {
    background-color: #111111;
}
/*home page*/

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
    background-color: aqua;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc { /* description text*/
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 2px 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*about page*/
table{
    width: 100%
}
table, th, td {
    border: none;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
#instalink{
    width:42px;height:42px;border:0;
    float: right;
}
#libolo{
    width: 100%
}
.reviews{
    text-align: center
}
/*form css*/
form{
    width:330px;
    border-top:1px dotted #D9D9D9;
    margin:10px 180px
    }
    button{
    width:246px;
    height:30px;
    }
    input{
    width:280px;
    height:40px;
    padding:5px;
    margin:20px 0 10px;
    border-radius:5px;
    border:4px solid #acbfa5
    }
    input[type = submit]{
    width:100px;
    background-color:#35c8ef;
    border-radius:5px;
    border:2px solid blue;
    color:#fff
    }
    textarea{
    width:280px;
    height:100px;
    padding:5px;
    margin:20px 0 10px;
    border-radius:5px;
    border:4px solid #acbfa5;
    resize: none
    }
    .four p{
    text-align:center;
    color:#fff;
    padding:15px 0
    }
    .first p{
    padding:15px;
    color:#fff
    }
    .two{
    background-color:#fff;
    width:290px;
    float:left;
    height:600px
    }
    .main_content{
    width:960px;
    height:auto;
    background-color:#fff
    }
    .two h4{
    color:#4C4C4C;
    text-align:center
    }
    .three{
    text-align:center;
    width:660px;
    border-left:1px solid #D0D0D0;
    float:left;
    background-color:#fff
    }
    .four,.first{
    width:960px;
    clear:both;
    background-color:#41A2CD;
    height:55px
    }