
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 3% 3%; /*first is distance from nav bar second is distance from sides l & r*/
    height: 100%;
    overflow: auto;
}

#Home {background-color: red;}
#Anime {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}

/* contact form */

/* footer items*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;  
}

li {
    float: left;
    width: 28%;
    margin: 2.5%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: underline;
}

li a:hover {
    background-color: #111111;
}
/*home page*/

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
    background-color: aqua;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc { /* description text*/
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 2px 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*anime page*/
.animepics {
    border-collapse: collapse;
    width: 100%;
    border-width: 15px;
    border-style: groove;
    border-color: #222;
    padding: 5%;
}

/*about page*/
table{
    width: 100%
}
table, th, td {
    border: none;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
#fblink{
    width:42px;
    height:42px;
    float: right;
}
#instalink{
    width:42px;
    height:42px;
    float: left;
}
#libolo{
    width: 100%
}
.reviews{
    text-align: center
}
/*form css*/
form{
    widows: 100%;
    }
    button{
    width:150px;
    height:30px;
    }
    input{
    width:280px;
    height:40px;
    padding:5px;
    margin:5px 0 1px;
    border-radius:5px;
    border:4px solid #acbfa5
    }
    input[type = submit]{
    width:100px;
    background-color:#35c8ef;
    border-radius:5px;
    border:2px solid blue;
    color:#fff
    }
    textarea{
    width:280px;
    height:70px;
    padding:5px;
    margin:5px 0 1px;
    border-radius:5px;
    border:4px solid #acbfa5;
    resize: none
    }
    .four p{ /*form footer*/
    text-align:center;
    color:#fff;
    padding:5px 0
    }
    .first p{ /*the aris art*/
    font-size: 20px;
    text-align: center
    }
    .two{   /*buttons*/
    background-color:rgb(255, 255, 255);
    float:left;
    padding-left: 10px;
    width: 170px;
    height: 160px;
    }
    .buttonspace{
    margin-top: 2px;
    }
    .main_content{
    width:100%;
    height:auto;
    background-color:#fff
    }
    
    .three{ /*input fields*/
    text-align:center;
    width:100%;
    border-left:1px solid #D0D0D0;
    background-color:#fff
    }
    .four,.first{
    width:100%;
    clear:both;
    background-color:#41A2CD;
    }
.formcol{
    width: 50%
}

/*container*/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .animecol{
      width: 33%
  }